body {
    margin: 0;
}


header {
    background-image: url(images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
}

header section {
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 826px;
    height: 320px;
    left: 307px;
    top: 174px;

}

header h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    color: #FFFFFF;
    margin: 0;
}

header p {
    width: 691px;
    height: 56px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 18px auto 60px;
}

.link-btn {
    width: 160px;
    height: 56px;
    padding: 16px 12px;
    background: #FF5959;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
    margin: 80px auto 0px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
    width: 55%;
    margin: 0 auto;

}

.donate-amount-options {
    display: flex;
    width: 55%;
    margin: 30px auto;
}

.amount-option {
    text-align: center;
    align-items: center;
    background: #FAFAFA;
    border-radius: 5px;
    margin: 0px auto;
}

h3 {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 30px 30px;
    color: #707070;
}

#amount-option-second {
    text-align: center;
    align-items: center;
    background: #FAFAFA;
    border-radius: 5px;
    margin: 0px auto;
    background: #FFEEEE;
    border: 2px solid #FF5959;
}

#amount-option-second h3 {
    color: #FF5959;
}

.donate-form {
    margin: 0px auto;
    width: 55%;
}

.donate-form input {
    width: 100%;
    text-align: center;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 20px;
    padding-bottom: 5px;

}

.donate-form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    width: 160px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    margin: 0px auto;
    cursor: pointer;
}

.total-donate-plans {
    display: flex;
    margin-top: 50px;
}

.donate-option {
    width: 30%;
    border-radius: 8px;
    padding: 0px 30px 20px;
}

.donate-option h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #121212;
}

.donate-option img {
    margin-top: 50px;
}

#donate-option-1 {
    background: rgba(79, 157, 166, 0.1);
    margin: 0px 10px 0px 150px;
}

#donate-option-2 {
    background: rgba(255, 89, 89, 0.1);
    margin: 0px 30px;
}

#donate-option-3 {
    background-color: rgba(228, 138, 36, 0.301);
    margin: 0px 150px 0px 10px;

}

.donate-option p {
    text-align: left;
    width: 100%;
}

.subscription-div {
    width: 809px;
    height: 200px;

    margin: 0px auto 100px;
    background: #FFF4D6;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.subscription-div form input {
    background: #D9D9D9;
    border: none;
    width: 275px;
    height: 48px;
    padding-left: 10px;
}

.subscription-div form button {
    width: 157px;
    height: 48px;
    border: none;
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

footer {
    left: 0%;
    right: 0%;
    top: 95.52%;
    bottom: 0%;
    background: #0B0D17;
    text-align: center;
}

footer h1 {
    padding-top: 20px;
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */

    letter-spacing: 0.5px;

    color: #FF5959;
}

footer p {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    font-feature-settings: 'liga' off;

    /* Text / Gray 300 */

    color: #D9DBE1;
    padding-bottom: 40px;
}